<div class ="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <h1>Conheça pessoas novas sem sair de casa</h1>
        <p class= "lead">Ta esperando o que? Registra-se e curta!</p>
        <div>
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Registrar-se</button>
            <button class="btn btn-info btn-lg">Saiba mais</button>
        </div>
    </div>
    <div *ngIf="registerMode" aclass="container">
        <div class="row justify-content-center">
            <div class ="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>